/*body{
  background: linear-gradient(to right, rgb(0, 255, 81), rgb(4, 255, 217));
  scroll-behavior: smooth;
}*/
@keyframes color {
  0%   { background: #00ffff; }
  20%  { background: #00ff04; }
  40%  { background: #ffea02; }
  60%  { background: #FCCA00; }
  80%  { background: #ff0000; }
  100% { background: #33CCCC; }
}

body {
  background: #33CCCC; /* Fallback */
  animation: color 3s infinite linear;
  text-align: center;
  padding: 2em;
}

.logo{
  height: 110px;
  border-radius: 15px;
  width: 75px;
  margin: 1px;
  padding: 10px;

}


.sigin1{
  width: 100px;
  color: rgb(255, 255, 255);
  height: 100px;
}


a{
  animation: color 0.5s infinite linear;
  align-self: self-start;
  left: 10px;
  display: inline-block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 10px;
  border-radius: 50px 0px 50px 0px;
  background-color: transparent; 
  color: black; 
  border: 2px solid #ff0000;
  font-weight: 100px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  
  text-decoration: none;
  word-spacing: 1px;
  }



a:hover{
  padding: 10px;
  color: rgb(255, 0, 0);
  font-size: 30px;
  margin: 1px;
  text-decoration: none;
  word-spacing: 1px;
}


.mainchat p{
 font-family: 10px;

 align-self: flex-end;
 padding-bottom: 10px;
 
 
}
.mainchat{
  
  padding: 10px;
  font-family: fantasy;
  height: 1000px;
  width:100px;
  font-size: 10px;
  padding-bottom: 10px;
}
h1{
  color: aqua;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

#123{
  height: 100px;
}

@media only screen and (min-width: 768px) {
  body{
    background: linear-gradient(to right, rgb(0, 255, 81), rgb(4, 255, 217));
    scroll-behavior: smooth;
  }
  
  
  .section{
  
    height: 100px;
    padding-top: 10px;
    box-shadow: 5px 5px 10px 5px;
    border-radius: 109px 0px 90px 0px;
    font-size: 10px;
    margin: 10px;
    padding: 25px;
    align-items: flex-start;
    background: linear-gradient(to right, rgb(0, 255, 81), rgb(4, 255, 217));
  }
  
  
  .section:hover{
    border-radius: 109px 0px 90px 0px;
    font-size: 10px;
    margin: 10px;
    padding: 50px;
    background: linear-gradient(to right, rgb(69, 255, 255), rgb(102, 255, 0));
  }
  
  .logo{
    height: 110px;
    border-radius: 15px;
    width: 75px;
    margin: 1px;
    padding: 10px;
  
  }
  #googleimg{
    margin: 10px;
    padding: 1px;
    size: 10px;
    border-radius: 10px;
    height: 50px;

  }

  #subbtn{
    float: left;
    height: 50px;
    width: 100px;
    left: 1790px;
    top: 725px;
    border-radius: 100px;
    font-size: 25px;

    position: absolute;
  }
#p{
  padding-bottom: 100px;
  font-family: 'Lobster Two', cursive;
}

  .chatdiv{
    animation: color 5s infinite linear;
 
    border-radius: 100px 0px 100px 0px;
    overflow: auto;
    box-shadow: 10px 10px 10px 10px;
    color: #282c34;
    margin: 10px;
    height: 500px;
    width: 360px;
    size: 50px;
    float: right;
    padding: 19px;
  }
  
  #123{
    width: 199px;
  }


  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  .input{
    float: left;
    height: 50px;
    width: 300px;
    left: 1500px;
    top: 670px;
    border-radius: 100px 0px 100px 0px;
    font-size: 30px;
    box-shadow: 5px 0px 10px 9px;
    color: rgb(0, 217, 255);
    font-family: 'Lobster Two', cursive;

    position: absolute;

  }
  .sigin1{
    width: 100px;
    color: rgb(255, 0, 0);
    height: 100px;
  }
  
  p{
    font-size: 50px;
    text-align: center;
    color: white;
    margin: 1px;
    text-align: right;
  }
  
  a{
    display: inline-block;
    font-size: 16px;
    float: left;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px 0px 50px 0px;
    background-color: transparent; 
    color: rgb(255, 248, 248); 
    border: 3px solid #ffffff;
    font-weight: 100px;

    font-size: 30px;
    margin: 11px;
    text-decoration: none;
    word-spacing: 1px;
    
    font-family: 'Lobster Two', cursive;
    
  }
  
  
  
  a:hover{
    padding: 10px;
    color: rgb(255, 0, 0);
    font-size: 30px;
    margin: 1px;
    text-decoration: none;
    word-spacing: 1px;
  }
  .message{
    color: red;
  }
  h1{
    color: aqua;
  }
  
  
  .signindiv button{
    border-radius: 100px;
   height: 50px;
   margin: 10px; 
   background: linear-gradient(red, yellow);
   border: 25px;
   width: 100px;
  }
  
  .signindiv button:hover{
    border-radius: 100px;
   height: 50px;
   margin: 10px; 
   background: linear-gradient(rgb(246, 255, 0), rgb(255, 0, 0));
   animation-duration: 3s;
   border: 25px;
   width: 100px;
  }
  
  
}
